.footmain{
  text-align: center;
}
.container .extrass{
  text-align: center;
}
#rights{
    font-size: 12px;
    font-family: "El Messiri", sans-serif;
}
.footmain .logo img {
  margin-left: 70px;
  width: 200px;
  height: 150px;
}
.name {
  font-size: 25px;
  font-family: "El Messiri", sans-serif;
  padding-top: 60px;
}
.icons {
  margin-left: 50px;
  padding-top: 60px;
}
fa-icon {
   padding-left: 10px;
}
