<div class="footmain">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="name">
                    <section>
                        ©2020 Spicy Kitchen<br>

                    </section>
                </div>
            </div>
            <div class="col-sm">
                <div class="logo">
                    <img src="../../assets/images/saltbae.png">
                </div>
            </div>
            <div class="col-sm">
                <div class="icons">
                    <fa-icon [icon]="faTwitter" size="3x" [styles]="{'stroke': 'black', 'color': 'black'}"></fa-icon>
                    <fa-icon [icon]="faInstagram" size="3x" [styles]="{'stroke': 'white', 'color': 'black'}"></fa-icon>
                    <fa-icon [icon]="faFacebook" size="3x" [styles]="{'stroke': 'blue', 'color': 'black'}"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container"> 
    <section id="rights">ALL RIGHTS RESERVED.&nbsp;&nbsp;&nbsp;&nbsp;
        MADE BY ADITI & MELROY
    </section>
</div>