.container {
    margin-top: 150px;
    text-align: center;
    border: solid darkblue 1px;
    border-radius: 50px;
}

.email-full-width {
    padding-bottom: 15px;
    width: 65%;
}
.password-full-width {
    padding-top: 15px;
    width: 65%;
}
