#info img {
  // padding-left: 25px;
  // padding-top: 25px;
  width: 650px;
  height: 500px;
}
#info p {
  text-align: center;
  padding-top: 150px;
  padding-left: 180px;
}

.container #info-text p {
  font-family: "Courier Prime", monospace;
  padding-top: 10%;
}
