<app-header></app-header>
<div *ngIf="restDetails">
    <h1>{{restDetails.name}}</h1>
    {{restDetails.average_cost_for_two}}

    <p>{{restDetails.cuisines}}</p>
</div>
<h1>Best Sellers</h1>
<!-- <div *ngFor="let items of foods">
    <mat-card class="best-seller">
        <mat-card-header>
            <mat-card-title>{{items.name_of_dish}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{items.img}}" alt="Photo of a Food">
        <mat-card-content>
            <p>
                {{items.desc_of_dish}}
            </p>
        </mat-card-content>
        <mat-card-content>
            <p>
                Price: ₹{{items.price}}<br>
                {{items.items_in_menu}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>Add To Cart</button>
        </mat-card-actions>
    </mat-card>
</div> -->

<mat-grid-list cols="4" rowHeight="550px">
    <div *ngFor="let items of foods">
        <mat-grid-tile colspan="1">
            <mat-card class="best-seller">
                <mat-card-header>
                    <mat-card-title>{{items.name_of_dish}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{items.img}}" alt="Photo of a Food">
                <mat-card-content>
                    <p>
                        {{items.desc_of_dish}}
                    </p>
                </mat-card-content>
                <mat-card-content>
                    <p>
                        Price: ₹{{items.price}}<br>
                        {{items.items_in_menu}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>Add To Cart</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </div>
</mat-grid-list>